{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" href="{% static 'secundarios/css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/post.css' %}">
    

</head>
<body>
{% include 'secundarios/nav_log.html' %}
<div class="corpo">
<div class="espaço-perfil">
    <div class="main-perfil">
        <div class="user">    
            <img src="{% static 'secundarios/img/icon_perfil.png' %}" alt="Foto de Perfil">
            <div class="detalhes-usuario">
                <p>{{ user.get_full_name|default:user.username }}</p>
                <p>Bio do usuário: Apaixonado por esportes e atividades ao ar livre.</p>
            </div>
        </div>
        <div class="info-adicional">
            <p><strong>Seguidores:</strong> 123</p>
            <p><strong>Seguindo:</strong> 321</p>
            <p><strong>Desafios no mês:</strong> 13</p>
        </div>
    </div>
</div>

<h1>Seus Posts</h1>
<div class="posts-usuario">
    <!-- -->
    <div >
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">{{ user.get_full_name|default:user.username }}</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/corrida.jpg' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Testando a Nova Pista de Corrida</h1>
              <span class="tag">Postagem</span>
              <p>Conheci a pista nova do parque perto de casa. Bem sinalizada e ótima para treinos intervalados!</p>
            </div>
          </div>
        </div>
      </a>
      
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">{{ user.get_full_name|default:user.username }}</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/sprint.jpg' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Sprint de 200m Sem Parar</h1>
              <span class="tag">Desafio</span>
           
              <p>Fechei os 200 metros de sprint sem diminuir o ritmo. </p>
            </div>
          </div>
        </div>

      </a>

             

    </div>
            
<!-- -->
    <div>
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">{{ user.get_full_name|default:user.username }}</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/volei_1.jpg' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Mini Torneio de Vôlei</h1>
              <span class="tag">Evento</span>
              <p>To procurando gente pra fechar um vôlei amistoso no sábado.</p>
            </div>
          </div>
        </div>
      </a>
      
      <a href="{% url 'secundarios:post' %}">
        <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">{{ user.get_full_name|default:user.username }}</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/quadra.jpg' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Mapeando Quadras no Bairro</h1>
              <span class="tag">Postagem</span>
            
              <p>Fui explorar quadras públicas e encontrei três novos espaços ótimos para treinar!</p>
            </div>
          </div>
        </div>
      </a>


    </div>

<!-- -->
    <div>
        <a href="{% url 'secundarios:post' %}">
          <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">{{ user.get_full_name|default:user.username }}</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/sol.jpeg' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>10 Km Antes do Sol Nascer</h1>
              <span class="tag">Postagem</span>
          
              <p>Saindo pra treinar cedinho hoje. Se eu curtir vou tentar um desafio de corrida :D </p>
            </div>
          </div>
        </div>
        </a>
        
        <a href="{% url 'secundarios:post' %}">
          <div class="c1">
          <!-- Header: ícone + nome OP -->
          <div class="c1-header">
            <img src="{% static 'secundarios/img/icon_perfil.png' %}">
            <h1 class="op">{{ user.get_full_name|default:user.username }}</h1>
          </div>

          <!-- Body: imagem + conteúdo -->
          <div class="c1-body">
            <!-- Imagem do post (lado esquerdo) -->
            <div class="c1-image">
              <img src="{% static 'secundarios/img/volei_2.webp' %}" alt="Post">
            </div>

            <!-- Conteúdo (lado direito) -->
            <div class="c1-content">
              <h1>Só vitória no vôlei</h1>
              <span class="tag">Desafio</span>
              
              <p>A meta no jogo hj é fechar sem perder nenhum set</p>
            </div>
          </div>
        </div>
        </a>    
    </div>


</div>

</div>
</body>
</html>
