{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ post.titulo }} - Conecta Esporte</title>
    <link rel="stylesheet" href="{% static 'secundarios/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'secundarios/css/postagem.css' %}">
</head>

<body>
{% include 'secundarios/nav_log.html' %}

    <div class="postagem">
        <div>
            <div class="usuario">
                <img src="{% static 'secundarios/img/icon_perfil.png' %}" style="width:42px;height:42px;">
                <h1>{{ post.autor }}</h1>
            </div>
            <div class="inform">
              <div>
                  <div style="display:flex; flex-direction: row; gap: 9px; align-items: center;">
                      <h1>{{ post.titulo }}</h1>
                      <span class="tag">{{ post.tag}}</span>
                  </div>
                  <div>
                      <p style="margin:6px 0;">{{ post.conteudo|linebreaksbr }}</p>
                  </div>             
              </div>
            </div>
        </div>
    </div>
    <div class="sessao-comentarios">
    <h2>Comentários</h2>
    <div class="titulo-divisor"></div>
      <div class="comentario">
        <img src="{% static 'secundarios/img/icon_perfil.png' %}" alt="Avatar">
        <div class="comentario-body">
          <strong>José</strong>
          <p>Uau que legal!</p>
        </div>
      </div>
      <div class="comentario">
        <img src="{% static 'secundarios/img/icon_perfil.png' %}" alt="Avatar">
        <div class="comentario-body">
          <strong>Arlindo</strong>
          <p>Parece divertido :D</p>
        </div>
      </div>
    </div>
    

    <!-- Formulário para adicionar comentário -->
    <div class="comentario-form">
      <img src="{% static 'secundarios/img/icon_perfil.png' %}" alt="Seu avatar">
      <input type="text" placeholder="Escreva um comentário..." required>
      <button type="submit">Enviar</button>
    </div>
  </section>
</main>

</body>
</html>